<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</head>

<h1>
    <div class="badge bg-success fs-4" style="width: 26rem;">
        새 글 쓰기
      </div> </h1>

<form action="{%url 'create'%}" method="post">
{% csrf_token %}
{{form.as_p}}
해시태그: <input class="border border-success border-3 rounded" type="text" name="hashtags" placeholder="해시태그 ,로 구분">
<button type="submit" class="btn btn-success btn-sm">제출</button>
</form>